/*! Field Agent v1.2.1 | MIT License | github.com/charsboo/field-agent */

/*
 *  Source Code Pro from Google Fonts
 */
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap");

:root {
  --agent--h1: 2rem;
  --agent--h2: 1.375rem;
  --agent--h3: 1.25rem;
  --agent--h4: 1.125rem;
  --agent--h5: 1rem;
  --agent--h6: 0.875rem;
  --agent--lh: calc(1em + 0.5rem);
  --agent--xl: 4rem;
  --agent--lg: 3rem;
  --agent--md: 2rem;
  --agent--sm: 1rem;
  --agent--xs: 0.5rem;
}

/*
 *  Define `font-family`, `font-size`, `line-height` in settings
 */
html {
  font-size: 100%;
  padding: 0;
}

body {
  font-weight: 300;
  line-height: var(--agent--lh);
  letter-spacing: 0.02em;
  padding: var(--agent--md);
}

h2,
h3,
h4,
h5,
h6,
p,
pre,
ol,
ul {
  margin-block-end: 0;
}

/*
 *  PostCSS does not correctly transform flow-relative borders
 *  https://github.com/csstools/postcss-logical/issues/27
 */
hr {
  border-bottom-width: 0.0625rem;
  block-size: 0.0625rem;
  margin-block: var(--agent--md);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block-start: var(--agent--md);
}

/*
 *  PostCSS does not correctly transform flow-relative borders
 *  https://github.com/csstools/postcss-logical/issues/27
 */
h1 {
  font-size: var(--agent--h1);
  font-weight: inherit;
  border-top-width: 0.0625rem;
  border-top-style: solid;
  border-bottom-width: 0;
  padding-block-start: var(--agent--md);
  padding-block-end: 0;
  margin-block-end: var(--agent--md);
}

hr + h1,
h1:first-child {
  border-top: 0;
  padding-block-start: 0;
}

h2 {
  font-size: var(--agent--h2);
  font-weight: inherit;
}

h3 {
  font-size: var(--agent--h3);
  font-weight: inherit;
}

h4 {
  font-size: var(--agent--h4);
  font-weight: 400;
}

h5 {
  font-size: var(--agent--h5);
  font-weight: 400;
}

h6 {
  font-size: var(--agent--h6);
  font-weight: 600;
}

p,
pre,
ol,
ul,
blockquote,
table {
  margin-block-start: var(--agent--sm);
}

pre {
  font-size: 0.75rem;
}

ol,
ul {
  padding-inline-start: var(--agent--md);
}

:is(ol, ul) :is(ol, ul) {
  margin-block-start: 0;
}

ul {
  list-style-type: disc;
}

/*
 *  PostCSS does not correctly transform flow-relative borders
 *  https://github.com/csstools/postcss-logical/issues/27
 */
blockquote {
  border-left-width: 0.25rem;
  margin-block-end: 0;
  margin-inline: 0;
  padding: var(--agent--sm);
}

blockquote footer {
  font-size: 0.75rem;
  margin-block-start: var(--agent--xs);
}

th,
td {
  padding: 0.5rem;
}

code,
kbd {
  font-family: "Source Code Pro", ui-monospace, monospace;
  font-size: 0.875rem;
  line-height: inherit;
  letter-spacing: 0;
  tab-size: 2;
}

sup,
sub {
  line-height: 0;
}

/*
 *  Refine colors
 */
.vscode-light th {
  border-color: rgba(0, 0, 0, 0.5);
}

.vscode-light :is(hr, h1, td) {
  border-color: rgba(0, 0, 0, 0.25);
}

.vscode-dark th {
  border-color: rgba(255, 255, 255, 0.5);
}

.vscode-dark :is(hr, h1, td) {
  border-color: rgba(255, 255, 255, 0.25);
}

/*
 *  Refine spacing
 */
:is(h1, h2, h3, h4, h5, h6, p, pre):empty {
  margin: 0;
}

:is(hr, h1, h2, h3, h4, h5, h6, p, pre, ol, ul, blockquote, table):first-child {
  margin-block-start: 0;
}

:is(h2, h3, h4, h5, h6) + :is(h2, h3, h4, h5, h6) {
  margin-block-start: var(--agent--sm);
}

:is(h3) + :is(p, pre, ol, ul, blockquote, table) {
  margin-block-start: var(--agent--sm);
}

:is(h4, h5, h6) + :is(p, pre, ol, ul, blockquote, table) {
  margin-block-start: var(--agent--xs);
}
