/*! Field Agent v2.1.0 | MIT License | github.com/charsboo/field-agent */

/*
 *  Source Code Pro from Google Fonts
 */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@400;700&display=swap");

:root {
  --agent--h1: 2rem;
  --agent--h2: 1.5rem;
  --agent--h3: 1rem;
  --agent--h4: 0.875rem;
  --agent--h5: 0.875rem;
  --agent--h6: 0.875rem;
  --agent--lh: calc(1em + 0.5rem);
  --agent--xl: 2.5rem;
  --agent--lg: 2rem;
  --agent--md: 1.5rem;
  --agent--sm: 1rem;
  --agent--xs: 0.25rem;
  --agent--accent: #fd971f;
}

/*
 *  Define `font-family`, `font-size` in settings
 */
html {
  font-size: 100%;
  padding: 0;
}

body {
  font-weight: 400;
  line-height: var(--agent--lh);
  letter-spacing: 0.02em;
  padding: var(--agent--md);
}

hr {
  border-block-end-width: 0.0625rem;
  block-size: 0.0625rem;
  margin-block: var(--agent--lg);
}

h1 {
  font-size: var(--agent--h1);
  font-weight: 700;
  color: black;
  background-color: var(--agent--accent);
  border-radius: 0.125rem;
  width: fit-content;
  padding-block: 0;
  padding-inline: var(--agent--xs);
  margin-block-start: var(--agent--xl);
  margin-block-end: var(--agent--lg);
}

h2,
h3,
h4,
h5,
h6,
p,
pre,
ol,
ul {
  margin-block-end: 0;
}

h2,
h3 {
  font-weight: 500;
  margin-block-start: var(--agent--lg);
}

h2 {
  font-size: var(--agent--h2);
}

h3 {
  font-size: var(--agent--h3);
}

h4,
h5,
h6 {
  font-weight: 700;
  margin-block-start: var(--agent--md);
}

h4 {
  font-size: var(--agent--h4);
}

h5 {
  font-size: var(--agent--h5);
  opacity: 0.625;
}

h6 {
  font-size: var(--agent--h6);
  opacity: 0.375;
}

p,
ol,
ul,
pre,
blockquote,
table {
  margin-block-start: var(--agent--sm);
}

/*
 * Increased specifity required to override VS Code stylesheet
 */
pre:not(.hljs) {
  padding: var(--agent--sm);
}

ol,
ul {
  padding-inline-start: var(--agent--md);
}

ul {
  list-style-type: disc;
}

li > :is(pre, blockquote, table) {
  margin-block: var(--agent--sm);
}

::marker {
  color: var(--agent--accent);
}

blockquote {
  border-inline-start-width: 0.25rem;
  margin-block-end: 0;
  margin-inline: 0;
  padding-block: var(--agent--xs);
  padding-inline-start: calc(var(--agent--sm) - 0.25rem);
  padding-inline-end: var(--agent--sm);
}

blockquote footer {
  font-size: 0.625rem;
  margin-block-start: var(--agent--xs);
}

th,
td {
  padding-block: var(--agent--xs);
  padding-inline: var(--agent--sm);
}

img {
  display: inline-block;
}

code,
kbd {
  font-family: "Noto Sans Mono", ui-monospace, monospace;
  font-size: 0.875em;
  line-height: inherit;
  letter-spacing: 0;
  color: var(--agent--accent);
}

/*
 *  Do not apply to `code` or `kbd` inside `pre`
 */
:is(h1, h2, h3, h4, h5, h6, p, li)
  :is(code, kbd):not(:first-child):not(:last-child) {
  margin-inline: 0.25rem;
}

/*
 *  Increased specifity required to override VS Code stylesheet
 */
pre code {
  tab-size: 2;
}

sup,
sub {
  line-height: 0;
}

b,
strong {
  font-weight: 700;
}

/*
 *  Refine colors
 */
.vscode-light th {
  border-color: rgba(0, 0, 0, 0.5);
}

.vscode-light :is(hr, h1, td) {
  border-color: rgba(0, 0, 0, 0.25);
}

.vscode-dark th {
  border-color: rgba(255, 255, 255, 0.5);
}

.vscode-dark :is(hr, h1, td) {
  border-color: rgba(255, 255, 255, 0.25);
}

/*
 *  Refine spacing
 */
:is(h1, h2, h3, h4, h5, h6, p, pre):empty {
  margin: 0;
}

:is(hr, h1, h2, h3, h4, h5, h6, p, pre, ol, ul, blockquote, table):first-child,
:empty:first-child
  + :is(hr, h1, h2, h3, h4, h5, h6, p, pre, ol, ul, blockquote, table),
:is(ol, ul) :is(ol, ul),
li:first-child > :is(pre, blockquote, table) {
  margin-block-start: 0;
}

h2 + :is(h2, h3, h4, h5, h6),
h3 + :is(h3, h4, h5, h6),
h4 + :is(h4, h5, h6),
h5 + :is(h5, h6),
h6 + h6 {
  margin-block-start: var(--agent--sm);
}

:is(h3, h4, h5, h6) + :is(p, ol, ul),
:is(h3, h4, h5, h6) + :empty + :is(p, ol, ul) {
  margin-block-start: var(--agent--xs);
}
