/*! Field Agent v2.2.0 | MIT License | github.com/charsboo/field-agent */

/*
 *  Noto Sans Mono from Google Fonts
 */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@400;700&display=swap");

:root {
  --agent--h1: 2rem;
  --agent--h2: 1.5rem;
  --agent--h3: 1.25rem;
  --agent--h4: 1rem;
  --agent--h5: 0.875rem;
  --agent--h6: 0.875rem;
  --agent--lh: calc(1em + 0.5rem);
  --agent--xl: 2.5rem;
  --agent--lg: 2rem;
  --agent--md: 1.5rem;
  --agent--sm: 1rem;
  --agent--xs: 0.25rem;
  --agent--accent: #fd971f;
}

/*
 *  Define `font-family`, `font-size` in settings
 */
html {
  font-size: 100%;
  padding: 0;
}

body {
  font-weight: 400;
  line-height: var(--agent--lh);
  letter-spacing: 0.02em;
  padding: var(--agent--md);
}

hr {
  border-block-end-width: 0.0625rem;
  block-size: 0.0625rem;
  margin-block: 2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: var(--agent--lh);
  margin-block-start: 2em;
  margin-block-end: 1em;
}

h1 {
  font-size: var(--agent--h1);
  color: black;
  background-color: var(--agent--accent);
  border: 0;
  border-radius: 0.125rem;
  width: fit-content;
  padding-block: 0;
  padding-inline: var(--agent--xs);
}

h2 {
  font-size: var(--agent--h2);
  text-decoration: underline 0.25rem solid var(--agent--accent);
  text-decoration-skip-ink: none;
}

h3 {
  font-size: var(--agent--h3);
}

h4 {
  font-size: var(--agent--h4);
}

h5 {
  font-size: var(--agent--h5);
  opacity: 0.625;
}

h6 {
  font-size: var(--agent--h6);
  opacity: 0.375;
}

p,
ol,
ul,
pre,
blockquote,
table {
  margin-block: 1em 0;
}

pre {
  line-height: calc(1em + 0.25rem);
}

/*
 * Increased specifity required to override VS Code stylesheet
 */
pre:not(.hljs) {
  padding: var(--agent--sm);
}

ol,
ul {
  padding-inline-start: var(--agent--md);
}

ul {
  list-style-type: disc;
}

li > :is(pre, blockquote, table),
li > :is(p, pre, blockquote, table) + p {
  margin-block: var(--agent--sm);
}

::marker {
  color: var(--agent--accent);
}

blockquote {
  border-inline-start-width: 0.25rem;
  margin-block-end: 0;
  margin-inline: 0;
  padding-block: var(--agent--xs);
  padding-inline-start: calc(var(--agent--sm) - 0.25rem);
  padding-inline-end: var(--agent--sm);
}

blockquote footer {
  font-size: 0.625rem;
  margin-block-start: var(--agent--xs);
}

th,
td {
  padding-block: var(--agent--xs);
  padding-inline: var(--agent--sm);
}

img {
  display: inline-block;
}

code,
kbd {
  font-family: "Noto Sans Mono", ui-monospace, monospace;
  font-size: 0.875em;
  line-height: inherit;
  color: var(--agent--accent);
  display: inline-block;
}

/*
 *  Increased specifity required to override VS Code stylesheet
 */
pre code {
  tab-size: 2;
}

sup,
sub {
  line-height: 0;
}

b,
strong {
  font-weight: 700;
}

del {
  opacity: 0.625;
}

ins {
  text-decoration: none;
}

ins::before {
  content: attr(datetime) ": ";
  color: deeppink;
}

/*
 *  Refine colors
 */

/*
 *  ---
 *  COLORS
 *  ---
 */
.vscode-light th {
  border-color: rgba(0, 0, 0, 0.5);
}

.vscode-light :is(hr, h1, td) {
  border-color: rgba(0, 0, 0, 0.25);
}

.vscode-dark th {
  border-color: rgba(255, 255, 255, 0.5);
}

.vscode-dark :is(hr, h1, td) {
  border-color: rgba(255, 255, 255, 0.25);
}

/*
 *  Avoid using kbd inside h1
 *  … it looks weirds
 *  … and unexpectedly affects the h1 height
 *  … https://iamvdo.me/en/blog/css-font-metrics-line-height-and-vertical-align
 */
h1 :is(code, kbd, a) {
  color: inherit;
}
h1 :is(a:hover) {
  text-decoration: none;
}

/*
 *  ---
 *  REFINE SPACING
 *  ---
 */

/*
 *  Empty elements should not occupy space
 */
:is(h1, h2, h3, h4, h5, h6, p, pre):empty {
  margin: 0;
}
:is(th, td):empty {
  padding: 0;
}

/*
 *  Avoid using h* inside li
 *  … it doesn't make sense
 */
li > :is(hr, h1, h2, h3, h4, h5, h6, p, pre, blockquote, table):first-child {
  margin-block-start: 0;
}
li > :is(hr, h1, h2, h3, h4, h5, h6):last-child {
  margin-block-end: 0;
}

/*
 * Remove margin-block-start
 */
:is(hr, h1, h2, h3, h4, h5, h6, p, pre, ol, ul, blockquote, table):first-child,
:empty:first-child + *,
:is(ol, ul) :is(ol, ul) {
  margin-block-start: 0;
}

h2 + :is(h2, h3, h4, h5, h6),
h3 + :is(h3, h4, h5, h6),
h4 + :is(h4, h5, h6),
h5 + :is(h5, h6),
h6 + h6 {
  /* margin-block-start: var(--agent--sm); */
}

:is(h3, h4, h5, h6) + :is(p, ol, ul),
:is(h3, h4, h5, h6) + :empty + :is(p, ol, ul) {
  margin-block-start: 0.5em;
}
